body {
  background-color: #ccc;
  padding: 10%;
  padding-top: 20px;
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia,
    serif;
  font-size: 14pt;
  color: #424242;
}
.chapter {
  background-color: #fff;
  padding: 5%;
  max-width: 650px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=25, Direction=0, Color=#000000)"; /*IE 8*/
  -moz-box-shadow: 0 0 25px -7px #000000; /*FF 3.5+*/
  -webkit-box-shadow: 0 0 25px -7px #000000; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 25px -7px #000000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=25, Direction=135, Color=#000000); /*IE 5.5-7*/
  page-break-after: always;
  margin-bottom: 50px;
}

.chaptername {
  text-align: center;
}

p {
  text-indent: 40px;
  line-height: 2.5rem;
  margin: 0;
  margin-bottom: 2rem;
}
.scene {
  text-indent: 0px;
  text-align: center;
  line-height: 2.5rem;
  margin: 0;
  margin-bottom: 2rem;
}
.chapter > p:first-of-type {
  text-indent: 0px;
}
