 .header__title--center
{
    padding: 7.2rem 0;
}
.header__title--center h1
{
    font-size: 8rem;
}
.header__title--center h2
{
    font-size: 3rem;
}
figure .landscape{
    max-width: 100rem;
    border: .1rem solid var(--main-primary-color);
}